Repository DevilsAutumn/Hacktoberfest22, pull requests merged in 2022-10, with the labels that each got.

#14 Covid App date validation done
  App/Java/covid_19_vaccine_slot_find-master/.idea/compiler.xml
  App/Java/covid_19_vaccine_slot_find-master/.idea/gradle.xml
  App/Java/covid_19_vaccine_slot_find-master/.idea/misc.xml
  App/Java/covid_19_vaccine_slot_find-master/.idea/vcs.xml
  App/Java/covid_19_vaccine_slot_find-master/app/src/main/java/admin/example/covidfind/MainActivity.java
Labels: Java, hacktoberfest

#19 Removing Bug for proper functioning
  Web/Html,CSS,Javascript/todo-list/style.css
Labels: hacktoberfest, hacktoberfest-accepted

#16 6 digit PIN validation
  App/Java/covid_19_vaccine_slot_find-master/app/src/main/java/admin/example/covidfind/MainActivity.java
Labels: Java, hacktoberfest, hacktoberfest-accepted

#28 Fixed - Improve UI of greeting website
  Web/React/Greeting-website/src/App.js
  Web/React/Greeting-website/src/components/Header.js
  Web/React/Greeting-website/src/index.css
  Web/React/Greeting-website/src/index.js
Labels: hacktoberfest, React

#36 added timestamp:issue fixed
  Web/Html,CSS,Javascript/drink-water/index.html
  Web/Html,CSS,Javascript/drink-water/script.js
  Web/Html,CSS,Javascript/drink-water/style.css
  Web/React/City-Weather-Check-web-Application/package-lock.json
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted

#38 added eraser in drawing app
  Web/Html,CSS,Javascript/drawing-app/images.png
  Web/Html,CSS,Javascript/drawing-app/index.html
  Web/Html,CSS,Javascript/drawing-app/script.js
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted

#44 Added alert feature
  Web/Html,CSS,Javascript/todo-list/script.js
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted

#48 adding a feature.
  Web/Html,CSS,Javascript/drawing-app/index.html
  Web/Html,CSS,Javascript/drawing-app/script.js
  Web/Html,CSS,Javascript/drawing-app/style.css
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#26 Fixed- Allow only numbers in input field
  Web/Html,CSS,Javascript/verify-account-ui/script.js
  Web/Html,CSS,Javascript/verify-account-ui/style.css
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted

#57 Improving UI for movie app
  Web/Html,CSS,Javascript/movie-app/script.js
  Web/Html,CSS,Javascript/movie-app/style.css
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted

#54 Better border around diff reactions
  Web/Html,CSS,Javascript/drawing-app/script.js
  Web/Html,CSS,Javascript/feedback-ui-design/style.css
Labels: hacktoberfest, Html-Css-Javascript, hacktoberfest-accepted
